/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/front/blob/master/LICENSE
 */

// background
// stylesheet for the background component
@mixin Background($zindex: 2, $opacity: 0.2, $rgb: null) {
    @if (!$rgb) {
        $rgb: 0, 0, 0;
    }

    @include fixed(0, null, null, 0);
    @include transitions(opacity 1.5s, background-color 1.5s);
    @include wh(100%);
    z-index: $zindex;
    background-color: rgba($rgb, $opacity);
    display: none;
}
