// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/lemur/blob/master/LICENSE
 */

// fakeSelect
// stylesheet for the main styles of the fakeSelect component

// fakeselect
// styles pour le trigger et popup d'un fakeselect
@mixin FakeSelect() {
    @include FakeSelectTrigger();
    @include ClickOpen('.options');

    > .options {
        width: 100%;
        max-height: 250px;
        z-index: 100;

        > ul {
            list-style-type: none;

            > li > button {
                width: 100%;
            }
        }
    }

    &[data-absolute-placeholder='ready'][data-active='1'] > .trigger {
        @include abs(0, null, null, 0);
        z-index: 3;
    }
}

// fakeSelectTrigger
// styles seulement pour le trigger d'un fakeslect
@mixin FakeSelectTrigger() {
    @include inbl();
    position: relative;
    min-width: 150px;

    > .trigger {
        position: relative;
        width: 100%;

        > .title {
            text-align: left;
            display: block;
        }

        > .ico {
            display: block;
            background-size: contain;
        }
    }
}
