/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/front/blob/master/LICENSE
 */

// inputNumericRange
// base styles for the inputNumericRange component
@mixin InputNumericRange() {
    @include flex(stretch, stretch, wrap);

    > button {
        height: auto;

        &:disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    > input[type='text'] {
        text-align: center;
    }
}
