// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/front/blob/master/LICENSE
 */

// modal
// stylesheet for the modal component
@mixin Modal() {
    @include fixed(0, null, null, 0);
    @include wh(100%);
    z-index: 999;
    display: none;

    &[data-status='loading'] .inner {
        background-position: center;
    }

    &[data-active='1'] {
        display: block;
    }

    > .box {
        @include abs(20%, null, null, 20%);
        @include wh(60%);
        background-color: $white;

        > .close {
            z-index: 10;
            cursor: pointer;
        }

        > .inner {
            max-height: 100%;
            overflow-y: auto;
        }
    }
}
