/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/front/blob/master/LICENSE
 */

// scrollDrag
// stylesheet for the scrollDrag component
@mixin ScrollDrag($child) {
    width: 100%;
    overflow: auto;

    &[data-grabbable='1'] #{$child} {
        @include disableSelection();
        cursor: grab !important;
    }

    &[data-status='grabbing'] #{$child} {
        cursor: grabbing !important;
    }
}
