/*
 * This file is part of the QuidPHP package <https://quidphp.com>
 * Author: Pierre-Philippe Emond <emondpph@gmail.com>
 * License: https://github.com/quidphp/front/blob/master/LICENSE
 */

// tooltip
// base styles for the tooltip component
@mixin Tooltip() {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    display: none;

    &[data-active='1'] {
        display: block;
    }

    &[data-viewport='0'] {
        white-space: nowrap;
    }
}
